.navbar {
  display: flex;
  justify-content: end;
  /* padding: 30px; */
  background-color: #171c26;
}

a {
  text-decoration: none;
  color: aliceblue;
  padding-right: 30px;
  font-size: 22px;
}

a:hover {
  color: aquamarine;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
}
